
/* #91baff, #205fff */

.upc {
    width: 350px;
    margin: 20px;
    border-radius: 4px;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .gradient {
    background-image: linear-gradient(#91baff, #205fff);
    height: 125px;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
  }
  
  .profile-down {
    text-align: center;
    padding: 20px;
  }
  
  .profile-img img {
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -75px;
  }
  
  .profile-title {
    font-size: 23px;
    font-weight: 500;
  }
  
  .profile-button {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-button a {
    text-decoration: none;
    color: #205fff;
    margin: 10px;
  }
  